.App {
  margin: 5%;
}

.App-Loading {
  text-align: center;
}

.App-nav-item {
  padding: 15px;
  display: inline-block;
  line-height: 5px;
}

.App-drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.App-nodrag {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.App-title-button button {
  outline-color: white
}

.App-link {
  color: grey;
}

.App-link:hover {
  color: grey;
}

.App-input:focus {
  border-color: grey;
  box-shadow: 0 1px 1px darkgrey inset, 0 0 8px grey;
  outline: 0 none;
}

.App-dropdown-item:focus {
  color: white;
  background-color: grey;
  outline-color: grey;
}
