.App {
  margin: 5%;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.App-title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.App-Loading {
  text-align: center;
}

.App-nav-item {
  padding: 15px;
  display: inline-block;
  line-height: 5px;
}